.image-size {
  width: 200px;
}

.row-container {
  text-align: center;
  margin-top: 100px;
}

.first-div {
  float: left;
  display: inline;
  width: 50%;
}

.second-div {
  float: left;
  display: inline;
  width: 50%;
}

.description {
  color: #56595c;
  font-size: 18px;
}

.contacts {
  text-align: center;
  padding-top: 50px;
}

.footer-container {
  color: #76828f;
  background-color: #211c21;
  height: 316.5px;
  text-align: center;
}

a:link {
  color: #76828f;
}

a:visited {
  color: #76828f;
}

a:hover {
  color: #673ab7;
}

.icon1 {
  float: left;
  display: inline;
  width: 33.33%;
}

.icon2 {
  float: left;
  display: inline;
  width: 33.33%;
}

.icon3 {
  float: left;
  display: inline;
  width: 33.33%;
}

@media only screen and (max-width: 767px) {
  .first-div,
  .second-div,
  .icon1,
  .icon2,
  .icon3 {
    display: block;
    float: none;
    width: 100%;
    padding: 20px 0;
  }

  .footer-container {
    height: 390px;
  }

  .contacts {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .contacts {
    font-size: 20px;
  }

  .icons {
    margin-top: 60px;
  }
}

/*iPad*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .row-container {
    margin-top: 200px;
    height: 520px;
  }

  .footer-container {
    height: 300px;
  }
}

/*iPad Pro*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .image-size {
    width: 300px;
  }

  .contacts {
    padding-top: 150px;
  }

  .row-container {
    margin-top: 250px;
    height: 520px;
  }

  .footer-container {
    height: 400px;
  }
}
