.registration-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 300px;
  height: 320px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}

.register-button {
  margin-top: 250px;
  margin-left: 10px;
  width: 90%;
}

.prev-registered {
  padding-top: 20px;
}
